body {
  color: red;
  font-family: sans-serif;
}

.banner-holder {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
}

.banner-ttob {
  align-self: flex-end;
  display: flex;
  flex: 1 200px;
  flex-flow: column wrap;
  align-items: flex-end;
  justify-content: flex-end;
  writing-mode: vertical-rl;
}

.banner-ltor {
  display: flex;
  flex-flow: column;
  flex: 1 200px;
  align-items: flex-end;
  justify-content: center;
  left: 0;
  top: 0;
  writing-mode: horizontal-tb;
}

.banner-rtol {
  display: flex;
  flex: 1 200px;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  right: 0;
  top: 0;
  writing-mode: horizontal-tb;
}

peace-panel {
  flex: 1 20px;
  /*
  display: flex;
  align-self: flex-start;
  justify-content: center;
  */

  background-color: yellow;
}

svg {
  /*Ensure it renders behind the peace-panel elements*/
  z-index: -1;
}

.svg {
  fill: rebeccapurple;
}

.ltor-svg-container {
  position: fixed;
  top: 0px;
  right: 0px;
}

.rtol-svg-container {
  position: fixed;
  top: 0px;
  left: 0px;
}
/* Not needed anymore.
The p elements in the peace-panel elements have 2 classes. The second tells the writing mode required for styling here.
.rtol {
  writing-mode: horizontal-tb;
}

.ltor {
  writing-mode: horizontal-tb;
}

.ttob {
  writing-mode: vertical-rl;
}
*/
