body {
  color: red;
  font-family: sans-serif;
}

.banner-holder {
  height: 100vh;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  /*z-index: 0;*/
}

.banner-ttob {
  align-self: flex-end;
  display: flex;
  flex: 1 200px;
  flex-flow: column wrap;
  align-items: flex-end;
  justify-content: flex-end;
  writing-mode: vertical-rl;
}

.banner-ltor {
  display: flex;
  flex-flow: column;
  flex: 1 200px;
  align-items: flex-end;
  justify-content: flex-end;
  left: 0;
  top: 0;
  writing-mode: horizontal-tb;
}

.banner-rtol {
  display: flex;
  flex: 1 200px;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  right: 0;
  top: 0;
  writing-mode: horizontal-tb;
}

peace-panel {
  flex: 1 20px;
  /* This sets the length of the lines for the peace panel text, and wraps around words.*/
  inline-size: 5em;
  overflow-wrap: break-word;
  /*
  display: flex;
  align-self: flex-start;
  justify-content: center;
  */

  background-color: yellow;
  /* This z-index call is critical to allow the peace panels to be clickable along with the banners underneath them. */
  z-index: 1;
}

/* svg {
  / *Ensure it renders behind the peace-panel elements* /
  z-index: -1;
} */

.svg {
  fill: rebeccapurple;
  position: absolute;
  z-index: 0;
  top: 0px;
  right: 0px;
}

.full-container {
  position: fixed;
  /* top: 0px;
  right: 0px; */
  /* This z-index is critical to keep the banners underneath the peace-panel elements, but to make both of them clickable.*/
  z-index: 0;
}

.rtol-svg-container {
  /*position: fixed;*/
  top: 0px;
  left: 0px;
}

/* Not needed anymore.
The p elements in the peace-panel elements have 2 classes. The second tells the writing mode required for styling here.
.rtol {
  writing-mode: horizontal-tb;
}

.ltor {
  writing-mode: horizontal-tb;
}

.ttob {
  writing-mode: vertical-rl;
}
*/
